:root {
  color-scheme: light dark;
}
html{
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: visible;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--var-body-bg);
}

a{
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-garamond{
  font-family: $garamond;
  font-size: 52px;
  line-height: 120%;
}

.checkbox{
  cursor: pointer;
  position: relative;
}
.checkbox .svg-moon{
  position: absolute;
  top: -8px;
  left: -36px;
  width: 32px;
  height: 32px;
  pointer-events: none;
}
.checkbox .svg-sun{
  position: absolute;
  top: -6px;
  right: -34px;
  width: 28px;
  height: 28px;
  pointer-events: none;
}
.svg-white path{
  stroke: $only-white;
}
.svg-black path{
  stroke: var(--var-white-header-svg);
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkbox__input:checked + .checkbox-style {
  background-color: $checkbox-third-color;
}
.checkbox__input:checked + .checkbox-style::before {
  background-color: $checkbox-fourth-color;
  right: calc($checkbox-width - $checkbox-height + $checkbox-offset);
}
// .checkbox__input:focus + .checkbox-style {
//   box-shadow: 0 0 0 2px $checkbox-focus-color;
// }
// .checkbox__input:checked:focus + .checkbox-style {
//   box-shadow: 0 0 0 2px $checkbox-focus-color;
// }
.checkbox__input:disabled + .checkbox-style {
  background-color: $checkbox-disabled-color;
}
.checkbox__input:disabled + .checkbox-style::before {
  background-color: $checkbox-fourth-color;
}
.checkbox__input:checked:disabled + .checkbox-style {
  background-color: $checkbox-disabled-color;
}
.checkbox__input:checked:disabled + .checkbox-style::before {
  background-color: $checkbox-fourth-color;
}
.checkbox-style {
  display: block;
  position: relative;
  width: $checkbox-width;
  height: $checkbox-height;
  border-radius: $checkbox-width;
  background-color: $checkbox-first-color;
  transition: $checkbox-duration;
}
.checkbox-style::before {
  content: '';
  position: absolute;
  top: $checkbox-offset;
  right: $checkbox-offset;
  width: calc($checkbox-height - (2 * $checkbox-offset));
  height: calc($checkbox-height - 2 * $checkbox-offset);
  background-color: $checkbox-second-color;
  border-radius: 50%;
  transition: $checkbox-duration;
}

.btn{
  color: $only-white;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: .2s;

  display: inline-block;
  padding: 14px 20px;
  background-color: $only-blue;
  border: 1px solid $only-blue;
  &:hover{
    background-color: $transparent;
  }
}

.btn--c{
  &:hover{
    color: var(--var-btn-c);
  }
}

.onlyblue-text{
  color: $only-blue;
}

.db{
  display: block;
}

.question-form{
  padding: 110px 0;
}

.slider__arrows{
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05), 0px 4px 6px rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  &--team{
    top: 40%;
  }
  &-left--team{
    left: 10px;
  }
  &-right--team{
    right: 10px;
  }
  &-left--revievs{
    left: 0;
  }
  &-right--revievs{
    right: 0;
  }
}

#menu__toggle {
  opacity: 0;
  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
}
.hamburger-menu{
  display: none;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: -7px;
  right: 5px;
  width: 31px;
  height: 31px;
  margin-bottom: 3.8px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  & span {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 27px;
    height: 2px;
    background-color: $only-white;
    transition-duration: .25s;
  }
  & span::before,
  & span::after {
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $only-white;
    transition-duration: .25s;
  }
  & > span::before {
    content: '';
    top: -8px;
  }
  & > span::after {
    content: '';
    top: 8px;
  }
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: -100%;
  z-index: -1;
  width: 100%;
  height: fit-content;
  padding-top: 110px;
  list-style: none;
  background-color: $only-black;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  margin: 28.8px 20px;
  color: $only-white;
  font-family: $garamond;
  font-size: 30px;
  line-height: 120%;
  text-decoration: none;
  transition-duration: .25s;
}

.white-header{
  .menu__btn span{
    background-color: $only-black;
  }
  .menu__btn span::before,
  .menu__btn span::after{
    background-color: $only-black;
  }
  .menu__box{
    background-color: $only-white;
  }
}

.form-group{
  display: none;
}

.dropdown {
	position: relative;
}

.dropdown__button.mixitup-control-active{
  color: $only-blue;
  background-color: var(--var-dropdown-list-bg);
}
.dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;

	background: $transparent;
  color: $only-blue;
  text-transform: uppercase;
	border: 1px solid $only-blue;
	border-radius: 60px;
	height: 46px;

  padding: 12px 68px 12px 30px;

  font-family: $inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;


	cursor: pointer;

}

// .dropdown__button:focus, .dropdown__button--active {
// 	outline: none;
// 	box-shadow: 0px 0px 0px 4px rgba($only-blue, 0.6);
// }

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 55%;
	right: 15px;
	transform: translateY(-50%);

	/* Рисуем треугольник */
  width: 13px;
  height: 7px;
  background-image: url(../images/dropdown-arrow.svg);

	/* Снимаем клик с треугольника */
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 52px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: var(--var-dropdown-list-bg);
  color: $only-blue;
	// box-shadow: 0px 4px 8px rgba($only-blue, 0.6);
	overflow: hidden;

	border-radius: 22px;
	width: 100%;

	z-index: 2000;
  .mixitup-control-active{
    color: $only-blue;
    background-color: var(--var-dropdown-list-bg);
  }
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	border: 1px solid $only-blue;
	border-bottom: 0px;
	padding: 12px 30px;
  text-transform: uppercase;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	border-radius: 22px 22px 0 0;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 22px 22px;
	border-bottom: 1px solid $only-blue;
}

.dropdown__list-item:hover {
  color: $only-white;
	background: $only-blue;
}

.dropdown__input-hidden {
	display: none;
}