@media (max-width: 1400px) {
  .industries__intro-bg{
    right: -100px;
  }
}

@media (max-width: 1300px) {
  .team .slider {
    max-width: 616px;
    margin: 0 auto 40px;
  }
  .team .slider__item {
    margin-bottom: 30px;
  }
  .revievs__slider-items {
    max-width: 610px;
    margin: 0 auto;
    padding: 0;
  }
  .revievs .slider__item{
    margin: 0;
  }
  .revievs__slider .slick-slide{
    margin: 0 5px;
  }
  .revievs__item {
    width: 300px;
    padding: 20px 10px;
  }
  .media-blog__rec-items{
    max-width: 794px;
  }
}

@media (max-width: 1140px) {
  .tabs__item{
    flex-direction: column-reverse;
    align-items: center;
  }
  .tabs__img{
    margin-bottom: 40px;
  }
}

@media (max-width: 1100px) {
  .technologies__inner {
    flex-wrap: wrap;
  }

  .technologies__circles {
    margin: 0 auto;
  }

  .technologies__info {
    margin: 0 auto;
  }
}

@media (max-width: 1040px) {
  .header__left {
    .nav {
      display: none;
    }
  }

  .header__right {
    .btn {
      display: none;
    }
  }

  .hamburger-menu {
    display: block;
  }

  .header__right {
    max-width: 110px;
  }

  .menu__box {
    .btn {
      display: inline-block;
      margin: 0 15px 50px 15px;
    }

    .nav__item-link {
      font-size: 20px;
    }
  }

  .services__dots {
    height: 516px;

    .slick-list {
      margin: 25px 0 0 0;
    }
  }

  .services__slider-content {
    padding: 475px 40px 30px 40px;
  }

  .dots-box {
    height: 75px;
    padding-left: 25px;
  }

  .dots-box h3 {
    font-size: 30px;
  }

  .case-studio__black {
    padding: 120px 0 80px;
  }

  .case-studio__white {
    padding: 80px 0;
  }

  .case-studio__black::before {
    position: static;
  }

  .case-studio__white::before {
    position: static;
  }

  .case-studio__items {
    gap: 80px;
  }

  .case-studio__items-case {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .case-studio__item-info {
    max-width: 100%;
  }
}

@media (max-width: 990px) {

  // News
  .news {

    &__inner {
      max-width: 832px;
      width: 100%;
    }

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__blog {
      gap: unset;

      &::after {
        left: 80.525%;
      }

      &-title {
        font-size: 24px;
      }

      &-author {
        margin-bottom: 20px;
      }
    }

    .row-right {
      max-width: 136px;
      width: 100%;
    }

    .row-left {
      max-width: 582px;
      width: 100%;
    }
  }

  // /News

  .why__content {
    flex-direction: column;
  }

  .why__info {
    margin: 0 auto 40px;
  }

  .why__list {
    margin: 0 auto;
  }
}

@media (max-width: 940px) {
  .case__stack {
    gap: unset;
  }
  .blog__rec-items{
    max-width: 641px;
    margin: 0 auto;
  }
  .news .blog__rec-item{
    margin: 0;
    max-width: 323px;
  }
  .blog__rec-item-content{
    max-width: none;
    width: 100%;
  }
  .news .blog__rec-preview{
    width: 323px;
    height: 160px;
    padding: 0 5px;
  }
  .blog__rec-title{
    font-size: 24px;
  }
  .media-blog__rec-items {
    max-width: 626px;
  }
  .media .blog__rec-item {
    max-width: 303px;
  }
}

@media (max-width: 840px) {
  .intro__title {
    font-size: 49px;
    margin-bottom: 15px;
  }

  .intro__text {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .trust__title {
    font-size: 40px;
  }

  .secret__title {
    font-size: 38px;
  }

  .services {
    padding: 60px 0 90px;
  }

  .services__content {
    flex-direction: column;
  }

  .services__dots {
    height: 100px;
    width: 100%;

    .slick-track {
      width: 100%;
    }
  }

  .dots-box {
    border-left: none;
    border-top: 2px solid rgba(#6A7077, .2);
    width: 65px;
    padding-left: 0;
    padding-top: 30px;
    margin-top: 9px;
  }

  .dots-box h3 {
    display: none;
  }

  .services__dots .dots-text {
    position: absolute;
  }

  .slick-current .dots-box {
    position: static;
  }

  .slick-current .dots-box h3 {
    display: block;
    width: 141px;
    position: absolute;
    left: 0;
  }

  .slick-current .dots-box::before {
    // top: 0;
    // left: 0px;
    width: 0px;
    height: 2px;
    position: static;
    margin-top: -80px;
  }

  @keyframes line-duration {
    from {
      width: 0;
    }

    to {
      width: 65px;
    }
  }

  .services__slider {
    width: 100%;
  }

  .services__slider-content {
    flex-wrap: wrap;
    gap: 25px;
    background-position: 50% 40px;
    padding: 455px 40px 30px 40px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .loader {
    display: none;
  }

  .secret {
    padding-bottom: 80px;
  }

  .case-bg-1,
  .case-bg-2 {
    width: 100%;
    left: 0;
    height: 50%;
    opacity: 1;
  }

  .case-bg-2 {
    top: 50%;
  }

  .modal__close {
    top: 0;
    right: 1rem;
  }

  .modal__content {
    max-height: unset;
    margin-top: 80px;
  }

  .modal__main {
    flex-direction: column;
  }

  .modal__form-item {
    padding: 10px;
  }

  .modal__form-item--textarea {
    height: 200px;
  }

  .modal__form-contacts {
    width: 100%;
    margin-bottom: 16px;
  }

  .modal__form-message {
    width: 100%;
  }

  .modal__bottom {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }

  .news {
    padding: 91px 0 0 0;

    &__inner {
      max-width: 832px;
      width: 100%;

      .blog__rec {
        display: block;
        padding-bottom: 80px;
      }
    }

    &__title {
      font-size: 26px;
      line-height: 31.2px;
      text-align: center;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    &__blog {
      width: 100%;
      margin-bottom: 80px;

      &::after {
        display: none;
      }

      &-hashtag {
        margin-bottom: 10px;
      }

      &-title {
        font-size: 18px;
        line-height: 19.8px;
        margin-bottom: 25px;
      }

      &-author {
        margin-bottom: 20px;
      }
    }

    &__content {

      &-text {
        font-weight: 300;
        margin-bottom: 40px;

        img {
          padding-top: 0;
        }
      }

      &-title {
        font-size: 18px;
        line-height: 19.8px;
        margin-bottom: 15px;
      }

      &-preview {
        // width: 100%;
        margin-bottom: 40px;
      }
    }

    .row-left {
      max-width: unset;
    }

    .row-right {
      display: none;
    }
  }

  .form-question .modal__top {
    flex-wrap: wrap;
  }

  .form-question__icon-mail {
    margin: -8px 0 20px 25.5px;
  }

  .form-question__inner {
    padding: 10px 0 0 0;
  }

  .blog {
    padding: 90px 0 0 0;
  }

  .blog__inner {
    width: 100%;
  }

  .blog__title {
    font-size: 26px;
    text-align: center;
  }

  .blog__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
  }

  .blog .blog__item-preview {
    width: 109%;
    margin: 0 0 15px -15px;
  }

  .blog__item-content {
    padding: 0;
  }

  .blog__item-hashtag {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .blog__item-date {
    margin-bottom: 20px;
  }

  .blog__item-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .blog__item-text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .blog__item {
    padding: 0 0 40px 0;
  }

  .blog__rec {
    padding-bottom: 60px;
  }

  .blog .blog__rec-item {
    margin: 0 0 40px 0;
    max-width: unset;
    display: flex;
    flex-direction: column;
  }
  
  .blog .blog__rec-item:last-child {
    margin: 0;
  }

  .blog .blog__rec-preview {
    height: auto;
    margin-bottom: 10px;
  }

  .blog__rec-title {
    padding: 0;
    font-size: 18px;
    line-height: 19.8px;
  }

  .blog__rec-content {
    max-width: 303px;
    padding: 0 5px;
    padding: 0;
    order: -1;
  }

  .blog__rec-text {
    padding: 0;
    font-size: 16px;
  }

  .blog__rec-author {
    padding: 0;
  }

  .blog__list {
    padding: 0 0 80px 0px;
  }
  
  .blog__list .blog__inner {
    padding: 0;
  }

  .blog__list-item:last-child {
    padding: 0;
  }

  .blog__list-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
  }

  .blog__list-text {
    font-size: 14px;
    line-height: 21px;
  }

  .dots-box h3 {
    font-size: 20px;
  }

  .dots-box {
    height: 50px;
  }
  .blog__rec-items {
    max-width: 323px;
    margin: 0 auto;
  }

  .about {
    padding: 80px 0;
  }

  .about__inner {
    flex-wrap: wrap-reverse;
  }

  .about__content {
    max-width: unset;
  }

  .about__poster {
    max-width: unset;
    max-height: unset;
    margin-bottom: 60px;
  }

  .about__title {
    font-size: 26px;
    line-height: 31.2px;
  }

  .about__text {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .values {
    margin-bottom: 80px;
  }

  .values__content-top {
    margin-bottom: 40px;
  }

  .values__features {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .case {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0 0 10px 0;
    min-height: unset;
    height: 430px;
  }

  .case__card {
    margin: 0;
    width: 380px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .case__info {
    margin: 0 auto;
    width: 90%;
    padding: 20px 10px;
    bottom: 0;
  }

  .cases__inner {
    margin: 0 -15px;
  }

  .case__title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .case__stack {
    margin-bottom: 20px;
  }

  .case-bg-1 {
    display: none;
  }
  .revievs__slider-items {
    max-width: 320px;
    margin: 0 auto;
  }
  .revievs__slider .slick-slide{
    margin: 0;
  }
  .revievs__item {
    width: 320px;
  }
  .media-blog__rec-items {
    max-width: 300px;
  }
  .media .blog__rec-item {
    max-width: 302px;
    margin: 0;
  }
  .media .blog__rec-preview {
    width: 295px;
    margin: 0 auto 20px;
  }
  .media__subtitle {
    margin-bottom: 40px;
  }
  .team {
    margin-bottom: 80px;
  }
  .trust--about-us {
    margin-bottom: 80px;
  }
  .revievs {
    margin-bottom: 80px;
  }
  .revievs__text {
    font-size: 14px;
  }
  .revievs__person-post {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .intro__title {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .intro__text {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .intro__map {
    width: 859px;
    height: 295px;
    right: -321px;
    bottom: 0;
  }

  .trust__title {
    font-size: 33px;
  }

  .case-studio__title {
    font-size: 39px;
  }

  .inner-case-studio__items {
    padding-top: 40px;
  }
  .inner-case-studio__item {
    max-width: 300px;
    height: 228px;
  }

  .inner-case-studio__title h2{
    margin-bottom: 0;
  }

  .inner-case-studio__item-content {
    padding: 20px 10px;
  }

  .inner-case-studio__item-title {
    font-size: 22px;
  }

  .case__stack {
    gap: 10px;
  }

  .case__stack li {
    font-size: 12px;
  }

  .tabs__text-highlighted {
    max-width: 600px;
    width: 100%;
    padding: 0 15px 0 0;
  }

  .tabs__text-highlighted p {
    max-width: 100%;
  }
  .team .slider {
    max-width: 314px;
    padding: 0;
    .slick-slide{
      width: 145px;
    }
    .slider__item-photo{
      width: 145px;
      height: 150px;
    }
  }
  .values__title,
  .revievs__title,
  .media__title {
    font-size: 26px;
  }
  .values__subtitle,
  .media__subtitle,
  .revievs__subtitle {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  .modal__content {
    margin-top: 80px;
    padding: 30px 20px;
  }

  .news__content-text img {
    margin: 0 -15px;
  }

  .news__content-preview {
    width: 109%;
    margin: 0 -15px 40px;
  }

  .intro__content {
    margin: 30px 0 0 0;
  }

  .intro__map {
    right: -444px;
  }

  .back-up {
    display: none;
  }

  .services__slider {
    height: 443px;
  }

  .services__slider-content {
    padding: 300px 40px 30px 40px;
    margin-top: 40px;
    background-size: auto 250px;
  }

  .secret__title {
    font-size: 32px;
  }

  .secret__item-title {
    font-size: 24px;
  }

  .secret__content {
    .btn {
      display: none;
    }
  }

  .secret {
    padding-bottom: 60px;
  }

  .why {
    padding: 80px 0;
  }

  .why__title {
    font-size: 39px;
    margin-bottom: 20px;
  }

  .why__list .list-item {
    width: auto;
  }

  .technologies {
    padding: 80px 0;
  }

  .technologies__circles {
    min-height: 497px;
  }

  .technologies__info-title {
    font-size: 39px;
    margin-bottom: 20px;
  }

  .inner-case-studio {
    padding: 80px 0;
  }

  .case-studio__item-card {
    width: 300px;
    height: 200px;
  }

  .title-garamond {
    font-size: 39px;
  }

  .tabs__btn{
    display: none;
  }

  .form-group{
    display: block;
    width: 100%;
  }

  .tabs__img img{
    width: 370px;
    height: 444px;
  }

  .tabs__img::before{
    width: 349px;
    height: 395px;
  }

  .tabs__text-highlighted p{
    font-size: 39px;
  }

  .team__title{
    margin-bottom: 40px;
  }
  .blog-page .blog__inner {
    flex-wrap: wrap;
  }

  .blog__rec-item {
    margin-bottom: 40px;
  }
  .blog__rec-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 0 10px;
  }

  .header__inner {
    min-height: 60px;
  }

  .intro {
    padding-top: 60px;
  }

  .intro__inner {
    min-height: 510px;
  }

  .intro__map {
    width: 508px;
    height: 295px;
    right: -188px;
    bottom: -95px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .menu__box {
    padding-top: 60px;
  }

  .menu__box .btn {
    margin: 0 10px 5px 10px;
    max-width: 95%;
    text-align: center;
  }

  .trust__content {
    padding: 0 16px;
  }

  .trust__title {
    font-size: 26px;
    padding: 0 28px;
    margin-bottom: 40px;
  }

  .trust__item svg {
    max-width: 111px;
  }

  .trust__items {
    margin-right: 0;
  }

  .trust__item {
    margin: 0;
  }

  .services__title {
    font-size: 24px;
  }

  .services__subtitle {
    margin-bottom: 0;
  }

  .services__slider {
    height: 325px;
    overflow: hidden;
  }

  .services__slider-content {
    padding: 200px 10px 10px 10px;
    margin-top: 0px;
    background-size: auto 150px;
    background-position: 50% 25px;
    text-align: center;
  }

  .services__slider-text {
    font-size: 12px;
  }

  .secret__title {
    font-size: 26px;
  }

  .secret__item-title {
    font-size: 22px;
  }

  .why__title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .technologies__circles {
    min-height: 303px;
    max-width: 300px;
  }

  .technologies__info-title {
    font-size: 26px;
  }

  .case-studio__title {
    font-size: 22px;
  }

  .title-garamond {
    font-size: 26px;
  }

  .case-studio__item-text {
    font-size: 12px;
  }

  .case-studio__item-title {
    max-width: 200px;
  }

  .blog .blog__rec-title{
    font-size: 18px;
  }

  .blog__rec-title{
    font-size: 22px;
  }

  .industries__intro-bg{
    width: 288px;
    height: 270px;
    top: auto;
    bottom: 0;
    right: -15px;
  }

  .industries__intro-bg .opacity-gradient-left{
    height: 150px;
    width: 270px;
    left: -60px;
    bottom: 60px;
  }

  .industries__intro-bg .opacity-gradient-top{
    height: 150px;
    width: 328px;
    top: 0;
    left: 0;
  }

  .tabs__buttons{
    margin-bottom: 35px;
  }

  .tabs__img img{
    width: 276px;
    height: 331px;
  }

  .tabs__img::before{
    width: 260px;
    height: 295px;
  }

  .tabs{
    padding: 40px 0 80px;
    .btn {
      text-align: center;
    }
  }
  .tabs__text{
    font-size: 12px;
  }

  .tabs__text-highlighted{
    margin-bottom: 30px;
  }

  .tabs__text-highlighted p{
    font-size: 22px;
  }
  .team .slick-track{
    gap: 10px;
  }
  .revievs__slider-items {
    max-width: 300px;
    margin: 0 auto;
  }
  .revievs__slider .slick-slide{
    margin: 0;
  }
  .revievs__item {
    width: 300px;
  }
}