$garamond: 'Garamond', sans-serif;
$only-white: #FFFFFF;
$only-lightgrey: #FAFAFA;
$only-black: #06111C;
$only-blue: #057AFF;
$only-grey: #6A7077;
$only-lightgrey: #FAFAFA;
$transparent: transparent;
$black: #000;
:root{
  // only
  --var-only-blue:#057AFF;
  // global
  --var-body-bg:#FFFFFF;
  --var-btn-c: #057AFF;

  // header
  --var-white-header: #06111C;
  --var-white-header-hover: rgba(6, 17, 28, 0.5);
  --var-white-header-svg: #06111C;
  --var-white-header-active: rgba(5, 122, 255, 1);
  --var-white-header-active-hover: rgba(5, 122, 255, 0.5);
  --var-hamburger-white-bg: #ffffff;
  --var-menu-btn: #06111C;
  // trust
  --var-trust-bg:#FAFAFA;
  --var-trust-title:#06111C;
  --var-trust-company:rgb(181, 182, 185);
  // services
  --var-services-bg: #FFFFFF;
  --var-services-text: #06111C;
  --var-services-content-bg: transparent;
  --var-services-duration-slide-line: #057AFF;
  // cases
  --var-case-info-width: 351px;
  --var-case-info-mr:0;
  --var-cases-info-title:#06111C;
  --var-cases-info-stack-bg:#FAFAFA;
  --var-cases-info-stack:#6A7077;
  --var-case-info-bg: #FFFFFF;

  // why
  --var-why-bg:#FFFFFF;
  //modal
  --var-modal-bg: #14273A;

  //blog-page
  --var-blog-fc: #06111C;

  //industries-page
  --var-industries-text: #06111C;

  //case-studio-inner-page
  --var-inner-case-studio-title: #06111C;

  //case-studio-page
  --var-case-studio-black-text: #06111C;
  --var-case-studio-black-line: #06111C;

  //about-us-page
  --var-about-us-fc-1: #06111C;
  --var-about-us-bc-1: #FAFAFA;

  //news-page
  --var-news-fc: #06111C;

  //services-page
  --var-services-page-card-bg: #FAFAFA;
  --var-services-page-card-title: rgba(0, 0, 0, 0.87);

  //dropdown
  --var-dropdown-list-bg: #FFFFFF;


  //css
  .white-header__logo{
    filter: invert(1);
  }
}

[dark]{
  // global
  --var-body-bg:#06111C;
  --var-btn-c: #FFFFFF;
  // header
  --var-white-header: #FFFFFF;
  --var-white-header-hover: rgba(255, 255, 255, 0.5);
  --var-white-header-svg: #FFFFFF;
  --var-hamburger-white-bg: #06111C;
  --var-menu-btn: #FFFFFF;
  // trust
  --var-trust-bg:#0D1D2E;
  --var-trust-title:#FAFAFA;
  --var-trust-company:rgb(54, 66, 78);
  // services
  --var-services-bg: #06111C;
  --var-services-text: #FFFFFF;
  --var-services-content-bg: #0D1D2E;
  // cases
  --var-case-info-width: 549px;
  --var-case-info-mr:-50px;
  --var-cases-info-title:#FFFFFF;
  --var-cases-info-stack-bg:#0D1D2E;
  --var-cases-info-stack:#FFFFFF;
  --var-case-info-bg: #06111C;

  // why
  --var-why-bg:#06111C;

  //blog-page
  --var-blog-fc: #FFFFFF;

  //industries-page
  --var-industries-text: #FFFFFF;

  //case-studio-inner-page
  --var-inner-case-studio-title: #FFFFFF;

  //case-studio-page
  --var-case-studio-black-text: #FFFFFF;
  --var-case-studio-black-line: #FAFAFA;

  //about-us-page
  --var-about-us-fc-1: #FFFFFF;
  --var-about-us-bc-1: #0D1D2E;

  //news-page
  --var-news-fc: #FFFFFF;

  //services-page
  --var-services-page-card-bg: #0D1D2E;
  --var-services-page-card-title: rgba(255, 255, 255, 0.87);

  //dropdown
  --var-dropdown-list-bg: #06111C;

  //css
  .white-header__logo{
    filter: invert(0);
  }
}

$checkbox-first-color: #057AFF;
$checkbox-second-color: #FFFFFF;
$checkbox-third-color: #102539;
$checkbox-fourth-color: #FAFAFA;
$checkbox-disabled-color: #ccc;
$checkbox-focus-color: #000;
$checkbox-width: 31px;
$checkbox-height: 17px;
$checkbox-offset: 2px;
$checkbox-duration: .3s;