$garamond: 'Garamond', sans-serif;
$inter: 'inter', sans-serif;
$only-white: #fff;
$only-blue: #057AFF;
$only-grey: #6A7077;
$transparent: transparent;
$blackblue: #06111C;
:root{
  --var-only-blue:#057AFF;

  --var-body-bg:#FFFFFF;
  --var-trust-bg:#FAFAFA;
  --var-trust-title:#06111C;
  --var-trust-company:#06111C;
  --var-services-bg: #FFFFFF;
  --var-services-text: #06111C;
  --var-services-content-bg: transparent;
  --var-services-duration-slide-line: #057AFF;
  --var-case-light: flex;
  --var-case-dark: none;
  --var-case-info-width: 351px;
  --var-case-info-mr:0;
  --var-cases-info-title:#06111C;
  --var-cases-info-stack-bg:#FAFAFA;
  --var-cases-info-stack:#6A7077;
}

[dark]{
--var-body-bg:#06111C;
--var-trust-bg:#0D1D2E;
--var-trust-title:#FAFAFA;
--var-trust-company:#FAFAFA;
--var-services-bg: #06111C;
--var-services-text: #FFFFFF;
--var-services-content-bg: #0D1D2E;
--var-case-light: none;
--var-case-dark: flex;
--var-case-info-width: 549px;
--var-case-info-mr:-50px;
--var-cases-info-title:#FFFFFF;
--var-cases-info-stack-bg:#0D1D2E;
--var-cases-info-stack:#FFFFFF;

}

// @media (prefers-color-scheme: dark){
//   :root{

//   }
// }

$checkbox-first-color: #057AFF;
$checkbox-second-color: #FFFFFF;
$checkbox-third-color: #102539;
$checkbox-fourth-color: #FAFAFA;
$checkbox-disabled-color: #ccc;
$checkbox-focus-color: #000;
$checkbox-width: 31px;
$checkbox-height: 17px;
$checkbox-offset: 2px;
$checkbox-duration: .3s;

// .checkbox{
//   // not-checked
//   --first-color: #102539;
//   --second-color: #FAFAFA;
//   // checked
//   --third-color: #057AFF;
//   --fourth-color: #FFFFFF;
//   --width: 50px;
//   --height: 30px;
//   --offset: 20px;
// }
