@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  background-color: $transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 123456789;

  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 110px;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 85px;
  }

  &__nav-item:not(:last-child) {
    margin-right: 40px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 218px;
    width: 100%;
  }
}

.black-header {
  .nav__item-link {
    color: $only-white;

    &:hover {
      color: rgba($only-white, .5)
    }
  }

  .nav__item-link--active {
    color: var(--var-white-header-active);

    &:hover {
      color: var(--var-white-header-active-hover);
    }
  }
}

.white-header {
  .nav__item-link {
    color: var(--var-white-header);

    &:hover {
      color: var(--var-white-header-hover);
    }
  }

  .nav__item-link--active {
    color: var(--var-white-header-active);

    &:hover {
      color: var(--var-white-header-active-hover);
    }
  }
}

.nav {
  &__menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__item-link {

    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    transition: .2s;


  }
}

.intro {
  background-color: $only-black;
  color: $only-white;
  padding-top: 110px;
  overflow: hidden;

  &__inner {
    min-height: 640px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 540px;
    margin: 67px 0 147px 0;
    z-index: 1;
  }

  &__title {
    font-family: $garamond;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__text {
    font-family: $inter;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 60px;
  }

  &__map {
    // background-image: url(../images/intro-map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: right-442px center;
    object-fit: cover;
    width: 1210px;
    height: 703px;
    position: absolute;
    right: -642px;
    bottom: -77px;
  }
}

.map__point {
  position: absolute;
  width: 34px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgba($only-blue, .2);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $only-blue;
    }
  }

  span {
    font-family: $garamond;
    font-size: 14px;
    line-height: 100%;
  }

  &--1 {
    top: 19.5%;
    left: 14.5%;
  }

  &--2 {
    top: 36%;
    left: 20.7%;
  }

  &--3 {
    top: 7.1%;
    left: 37%;
  }

  &--4 {
    top: 55%;
    left: 52.5%;
  }

  &--5 {
    top: 30.5%;
    left: 55.2%;
  }
}

.trust {
  background-color: var(--var-trust-bg);

  &__inner {
    padding: 80px 0 60px;
  }

  &__title {
    color: var(--var-trust-title);
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -50px;
  }

  &__item {
    margin: 0 50px 20px 0;
  }

  &__item svg {
    max-width: 141px;
    height: 38px;
    object-fit: contain;
    fill: var(--var-trust-company);
  }
}

.services {
  background-color: var(--var-services-bg);
  padding: 110px 0;

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    color: var(--var-services-text);
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--var-services-text);
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1200px;
    // height: 600px;
  }

  &__dots {
    height: 516px;
  }

  &__dots-item {
    margin-bottom: 40px;
  }

  &__slider {
    width: 744px;
    height: 600px;
  }

  &__slider-content {
    display: flex;
    justify-content: space-between;
    // width: 744px;
    // height: 600px;
    padding: 525px 40px 30px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 350px;
    object-fit: contain;
    background-color: var(--var-services-content-bg);
  }

  &__slider-text {
    max-width: 336px;
    font-size: 16px;
    line-height: 150%;
    color: var(--var-services-text);
  }
}

.dots-box {
  max-width: 385px;
  height: 99px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid rgba(#6A7077, .2);
  padding-left: 60px;

  h3 {
    color: var(--var-services-text);
    font-family: $garamond;
    font-size: 46px;
    line-height: 120%;
  }
}

.slick-current .dots-box {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: -2px;
    width: 2px;
    height: 100%;
    background-color: var(--var-services-duration-slide-line);
    animation-duration: 3.4s;
    animation-timing-function: linear;
    animation-name: line-duration;
    // animation-iteration-count: infinite;
  }

  @keyframes line-duration {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }

  h3 {
    color: var(--var-only-blue);
  }
}

.secret {
  padding-bottom: 110px;

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    color: var(--var-services-text);
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--var-services-text);
    margin-bottom: 60px;
  }

  &__content {
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    width: 255px;

    img {
      margin-bottom: 30px;
    }
  }

  &__item-title {
    font-family: $garamond;
    font-size: 28px;
    line-height: 30.8px;
    margin-bottom: 12px;
    color: var(--var-services-text);
  }

  &__item-subtitle {
    font-family: $inter;
    font-size: 12px;
    line-height: 18px;
    color: $only-grey;
  }
}

.cases {
  overflow: hidden;

  &__inner {
    position: relative;

    #case-bg-1,
    #case-bg-2 {
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      margin-right: -200px;
      padding-right: 200px;
      min-height: 800px;

      position: absolute;
      left: 75%;
      height: 100%;
      z-index: -2;
      width: 50vw;
      object-fit: cover;
    }
    
  }

  // &__bg-1 {
    // position: absolute;
    // left: 75%;
    // height: 100%;
    // z-index: -2;
    // width: 50vw;
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: cover;
  //   opacity: 1;
  // }

  // &__bg-2 {
    // position: absolute;
    // left: 75%;
    // height: 100%;
    // z-index: -1;
    // width: 50vw;
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: cover;
    // opacity: 0;
  // }
}

.case {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-right: -200px;
  padding-right: 200px;
  min-height: 800px;
  display: flex;
  justify-content: space-between;

  &__info {
    margin: 248px var(--var-case-info-mr) 0 0;
    max-width: var(--var-case-info-width);
  }

  &__title {
    color: var(--var-cases-info-title);
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    margin-bottom: 40px;
  }

  &__stack {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
  }

  &__stack li {
    color: var(--var-cases-info-stack);
    font-family: $inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding: 1px 10px;
    background-color: var(--var-cases-info-stack-bg);
    border-radius: 4px;
  }

  &__card {
    margin: 105px -130px 0 0;
    object-fit: contain;
    width: 808px;
  }
}

.appear[data-src], .appear[data-bkg], .appear [data-src], .appear [data-bkg] {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
     -moz-transition: opacity 1s ease-in;
          transition: opacity 1s ease-in;
}
.appeared[data-src], .appeared[data-bkg], .appeared [data-src], .appeared [data-bkg] {
  opacity: 1;
}

.case.appeared1 {
  position: absolute;
  left: 75%;
  height: 100%;
  z-index: -1;
  width: 50vw;
  background-image: url(../images/cases-light-bg-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 1;
}

.case.appeared2 {
  position: absolute;
  left: 75%;
  height: 100%;
  z-index: -1;
  width: 50vw;
  background-image: url(../images/cases-light-bg-2.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 1;
}

.why {
  padding: 113px 0 110px;

  &__inner {
    max-width: 1140px;
    color: var(--var-services-text);
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 550px;
    width: 100%;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  &__text {
    font-family: $inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    p {
      margin-bottom: 18px;
    }
  }

  &__author {
    display: flex;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    width: 74px;
  }

  &__name {
    font-family: $garamond;
    font-weight: 400;
    line-height: 14px;
    line-height: 15.4px;
    width: fit-content;
  }

  &__signature {
    margin: 4px 0 0 30px;
    width: 93px;
  }

  &__list {
    max-width: 466px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;

    .list-item {
      display: flex;
      gap: 16px;
      width: 213px;

      .list-lightning {
        width: 23px;
        margin: 0 0 auto;
      }
    }
  }
}

.technologies {
  padding: 110px 0;
  color: $only-white;
  background-color: $only-black;

  &__inner {
    min-height: 597px;
    display: flex;
    justify-content: space-between;
  }

  &__circles {
    background-image: url(../images/technologies-circles.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    max-width: 589px;
    width: 100%;
    min-height: 597px;
  }

  &__info {
    padding: 35px 0;
    color: $only-white;
    max-width: 526px;
  }

  &__info-text {
    margin-bottom: 20px;
  }

  &__info-title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    margin-bottom: 40px;
  }

  &__info-lang {
    font-family: $inter;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;
  }
}

/* Footer */
.footer {
  background-color: #040D16;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    min-height: 345px;
    padding-top: 80px;
  }

  &__left {
    max-width: 160px;
    margin-bottom: 30px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 526px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__phone {
    margin-bottom: 16px;
  }

  &__address {
    margin-bottom: 47px;
  }

  &__nav {
    width: auto;
    margin: 0 76px 10px 0;
  }

  &__nav-title {
    font-size: 14px;
    line-height: 140%;
    color: rgba(#fff, .5);
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__nav-menu {
    display: block;
  }

  &__nav-item {
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__form-inner {
    position: relative;
  }

  &__form-title {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 12px;
  }

  &__form-mail {
    border: 1px solid #057AFF;
    width: 265px;
    height: 48px;
    background-color: transparent;
    padding: 15px 62px 15px 14px;
    color: #fff;
  }

  &__form-btn {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    background-image: url(../images/footer-form-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6.5px 13px;
    background-color: #057AFF;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    padding-bottom: 35px;

    a {
      font-size: 12px;
      line-height: 150%;
      color: rgba(#fff, .5);
      display: flex;
      flex-wrap: wrap;
    }

    span {
      margin-right: 40px;
      margin-bottom: 10px;
    }
  }
}

.back-up {
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  padding-right: 68px;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.3s linear;

  &::after {
    content: '';
    position: absolute;
    top: -17px;
    right: 0;
    width: 48px;
    height: 48px;
    background-image: url(../images/footer-back-up-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 1;
    border: 1px solid #057AFF;
    border-radius: 50%;
  }
}

.phone {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.address {
  font-size: 12px;
  line-height: 150%;
}

.socials {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__item-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #14273A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;

    svg {
      width: 13px;
      height: 13px;
    }

    path {
      transition: .2s;
    }

    &:hover {
      background-color: #057AFF;
      fill: #fff;
    }

    &:hover path {
      fill: #fff;
    }
  }
}

.industries {
  &__intro-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    object-fit: cover;
    width: 800px;
    height: 750px;
    position: absolute;
    top: -110px;
    right: -200px;

    .opacity-gradient-left {
      background: linear-gradient(180deg, rgba(6, 17, 28, 0) 0%, #06111C 100%);
      transform: rotate(90deg);
      height: 418px;
      width: 750px;
      position: absolute;
      left: -167px;
      bottom: 165px;
    }

    .opacity-gradient-top {
      background: linear-gradient(180deg, rgba(6, 17, 28, 0) 0%, #06111C 100%);
      transform: rotate(180deg);
      height: 418px;
      width: 800px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.intro__content--industries {
  max-width: 480px;
}

.tabs {
  padding: 110px 0;

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 80px;
  }

  &__btn {
    font-family: $inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 12px 30px;
    color: $only-blue;
    background-color: $transparent;
    border: 1px solid $only-blue;
    border-radius: 60px;
    transition: .2s;

    &:hover {
      color: $only-white;
      background-color: $only-blue;
    }
  }

  &__inner {
    color: var(--var-industries-text);
    margin: 0 -100vw;
    padding: 0 100vw;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__title,
  &__text-highlighted p {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
  }

  &__title {
    max-width: 366px;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 468px;
    font-family: $inter;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 36px;

    p {
      margin-bottom: 24px;
    }
  }

  &__text-highlighted {
    background-color: $only-blue;
    width: 600px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50vw;
      background-color: #057aff;
      margin-left: calc(50% - 50vw);
      z-index: -1;
    }

    p {
      max-width: 379px;
      padding: 50px 0;
      color: $only-white;
    }
  }

  &__img {
    position: relative;
    padding-top: 40px;
    width: fit-content;
    &::before{
      content: '';
      position: absolute;
      width: 438px;
      height: 496px;
      background-color: $only-blue;
      top: 0;
      right: -40px;
      z-index: -1;
    }
  }

  &__img img {
    width: 465px;
    height: 557px;
    position: relative;
    z-index: 1001;
  }

  // &__blue-block {
  //   position: absolute;
  //   width: 438px;
  //   height: 496px;
  //   background-color: $only-blue;
  //   top: 0;
  //   right: -40px;
  //   z-index: 1000;
  // }
}

.mixitup-control-active {
  color: $only-white;
  background-color: $only-blue;
}

// Case-studio inner-page ============================================================
.inner-case-studio {
  padding: 170px 0 110px;

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    color: var(--var-inner-case-studio-title);
    text-align: center;

    h2 {
      margin-bottom: 10px;
    }

    p {
      font-family: $inter;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
  }

  &__item {
    max-width: 589px;
    width: 100%;
    height: 447px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__item-content {
    padding: 40px;

    .case__stack-item {
      background-color: $transparent;
    }

    &--1 {
      color: $only-black;

      .case__stack-item {
        opacity: 0.5;
        color: $only-black;
        border: 1px solid $only-black;
      }
    }

    &--2 {
      color: $only-white;

      .case__stack-item {
        opacity: 0.5;
        color: $only-white;
        border: 1px solid $only-lightgrey;
      }
    }
  }

  &__item-title {
    font-family: $garamond;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 15px;
  }
}

// Case-studio ============================================================
.case-studio {
  &__black {
    background-color: $only-black;
    padding: 200px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 200px;
      width: 1px;
      height: 86.4%;
      background-color: $only-lightgrey;
      opacity: .1;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 240px;
  }

  &__items-case {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item-card {
    background-image: url(../images/case-studio/card-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 10px;
    width: 466px;
    height: 312px;
  }

  &__item-info {
    max-width: 468px;
  }

  &__item-title {
    color: $only-white;
    margin-bottom: 20px;
  }

  &__item-text {
    font-family: $inter;
    color: $only-white;
    font-size: 16px;
    line-height: 150%;

    p:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__white {
    padding: 215px 0 140px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 140px;
      width: 1px;
      height: 86.3%;
      background-color: var(--var-case-studio-black-line);
      opacity: .1;
    }

    .case-studio__item-title,
    .case-studio__item-text {
      color: var(--var-case-studio-black-text);
    }
  }

  &__text {
    padding: 80px 0;
  }

  &__text-inner {
    max-width: 712px;
    margin: 0 auto;
    text-align: center;
    color: var(--var-case-studio-black-text);

    p:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

/* Services Page */
.services-page {
  background-color: var(--var-services-bg);
  padding-top: 170px;

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    color: var(--var-services-text);
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--var-services-text);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 60px 0 110px;
  }

  &__item {
    background-color: var(--var-services-page-card-bg);
    transition: all 0.2s linear;
    position: relative;
    height: 364px;
    color: var(--var-services-page-card-title);

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:hover {
      background: #057AFF;
      color: $only-lightgrey;
    }
  }

  &__item-tltle {
    font-family: $inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    padding: 30px 0 0 40px;
  }
}

/* Blog Page */
.blog {
  background-color: var(--var-services-bg);
  padding: 170px 0 59px;
  color: var(--var-blog-fc);

  &__inner {
    width: 69.4%;
    margin: 0 auto;
    text-align: left;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 120%;
    color: var(--var-blog-text);
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    color: var(--var-blog-text);
    margin-bottom: 40px;
  }

  &__item {
    display: block;
    color: var(--var-blog-text);
    font-family: $garamond;
    padding: 0 0 60px 0;

    &-preview {
      width: 100%;
      margin-bottom: 30px;
    }

    &-content {
      padding: 0 0 0 10px;
    }

    &-hashtag {
      color: var(--var-blog-text);
      font-size: 28px;
      line-height: 31px;
      margin-bottom: 13px;
    }

    &-date {
      font-family: $garamond;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 9px;
    }

    &-title {
      font-family: $inter;
      font-size: 28px;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 20px;
    }

    &__title-secondary {
      font-family: $inter;
      font-size: 28px;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 10px;
    }

    &__title-other {
      font-family: $garamond;
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 13px;
    }

    &-text {
      font-family: $inter;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      margin-bottom: 24px;
    }

    &-author {
      color: $only-blue;
      font-family: $inter;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__rec-items{
    max-width: 832px;
    // display: flex;
    // gap: 10px;
  }
  
  &__rec-item {
    margin: 0 5px;
  }

  &__rec-item-content{
    max-width: 410px;
  }

  &__rec {
    padding: 0 0 80px 0;
    .slick-dots {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-dots li {
      list-style: none;
      margin: 0 4px;
    }

    .slick-dots li.slick-active button {
      background-color: $only-blue;
    }

    .slick-dots button {
      height: 2px;
      width: 24px;
      padding: 0;
      font-size: 0;
      border: none;
      border-radius: 1px;
      background-color: rgba($only-grey, .2);
    }

    &-preview {
      width: 410px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 29px;
    }

    &-hashtag {
      color: var(--var-blog-text);
      font-family: $garamond;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    &-date {
      font-family: $garamond;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 12px;
    }

    &-title {
      font-family: $inter;
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 10px;
    }

    &-text {
      font-family: $inter;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      margin-bottom: 10px;
    }

    &-author {
      color: $only-blue;
      font-family: $inter;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__list {
    padding: 0 0 72px 10px;

    &-item {
      padding: 0 0 40px 0;
    }

    &-hashtag {
      color: var(--var-blog-text);
      font-family: $garamond;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    &-date {
      font-family: $garamond;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 15px;
    }

    &-title {
      font-family: $garamond;
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 13px;
    }

    &-text {
      font-family: $work;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.3400000035762787px;
      margin-bottom: 11px;
    }

    &-author {
      color: $only-blue;
      font-family: $inter;
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
    }
  }
}

/* /Blog Page */
/* News page */
.news {
  padding: 110px 0 0 0;
  color: var(--var-news-fc);

  &__inner {
    width: 832px;
    margin: 0 auto;
    text-align: left;
    font-family: $garamond;
    // color: $only-black;

    .blog__rec {
      padding: 0 0 110px 0;
    }
  }

  &__title {
    font-size: 52px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 42px;
  }

  &__blog {
    display: flex;
    justify-content: space-between;
    gap: 13.7%;
    width: 100%;

    margin-bottom: 110px;
    font-family: $inter;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background: rgba($only-black, 0.1);
      position: absolute;
      top: 0;
      left: 76.8%;
    }

    &-hashtag {
      font-size: 14px;
      line-height: 14px;
      color: $only-blue;
      margin-bottom: 6px;
    }

    &-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 20px;
    }

    &-author {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  &__content {
    &-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 30px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;

      img {
        padding-top: 20px;
      }
    }

    &-preview {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-item {
      font-family: $inter;
      font-size: 16px;
      line-height: 24px;
      margin-left: 25px;
    }
  }

  .disc {
    list-style: disc;
  }

  .decimal {
    list-style: decimal;
  }

  .news__author-photo {
    margin-bottom: 5px;
  }

  .news__author-name {
    /*color: #000;*/
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .news__author-date {
    font-size: 12px;
    line-height: 18px;
  }
}

.sidebar {
  &__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-family: $inter;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
    font-family: $inter;
  }
}

.row-right {
  width: 136px;
  // width: 16.3%;
}

.row-left {
  width: 582px;
  // width: 69.95%;
  position: relative;
}

.form-question {
  background-color: $only-black;

  &__inner {
    padding: 160px 0 60px;
  }

  .modal__content {
    opacity: 1;
    overflow: hidden;
    border-radius: 0;
  }

  .modal__top {
    display: flex;
    justify-content: space-between;
  }

  &__icon-mail {
    position: relative;
    height: fit-content;
    font-family: $gilroy;
    color: $only-white;
    font-size: 16px;
    line-height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -25.5px;
      width: 17.5px;
      height: 14px;
      background-image: url(../images/form-question-icon-mail.svg);
    }
  }
}

/* /News page */
/* About us page */
.intro__content--about-us {
  max-width: 480px;
}

.about__intro-bg {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  width: 800px;
  height: 750px;
  bottom: 0;
  right: -200px;
  box-shadow: inset 150px 150px 150px $only-black;
}

.about {
  padding: 110px 0 187px 0;
  color: var(--var-about-us-fc-1);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 590px;
    width: 100%;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  &__poster {
    position: relative;
    width: 480px;
    height: 577px;

    &::after {
      content: "";
      width: 259px;
      height: 298px;
      background: $only-blue;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 441px;
    height: 537px;
  }
}

.values {
  margin-bottom: 135px;
  color: var(--var-about-us-fc-1);

  &__content {
    text-align: center;
  }

  &__content-top {
    margin: 0 auto;
    max-width: 633px;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 62px;
  }

  &__subtitle {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
    color: $only-grey;
  }

  &__features {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__features-item {
    background-color: var(--var-about-us-bc-1);
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 48px 26px 40px;

    &:hover .values__features-circle {
      transition: all 0.2s linear;
      background-color: $only-blue;
      color: $only-white;
    }
  }

  &__features-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $only-white;

    color: $only-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 46px 80px rgba(40, 54, 91, 0.02), 0px 19.2177px 33.4221px rgba(40, 54, 91, 0.0143771), 0px 10.2747px 17.869px rgba(40, 54, 91, 0.0119221), 0px 5.75991px 10.0172px rgba(40, 54, 91, 0.01), 0px 3.05905px 5.32008px rgba(40, 54, 91, 0.00807786), 0px 1.27294px 2.21381px rgba(40, 54, 91, 0.00562291);
    margin-bottom: 24px;

    span {
      font-family: $garamond;
      font-size: 34px;
      line-height: 37px;
      padding-top: 5px;
    }
  }

  &__features-title {
    font-family: $garamond;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 9px;
  }

  &__features-subtitle {
    font-family: $inter;
    font-size: 16px;
    line-height: 24px;
    color: $only-grey;
  }
}

.team {
  margin-bottom: 110px;
  color: var(--var-about-us-fc-1);

  &__inner {
    text-align: center;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 60px;
  }

  &__text {
    font-family: $inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    max-width: 916px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  .slider {
    margin-bottom: 60px;
    padding: 0 25px;

    &__item {
      text-align: left;
      font-family: $gilroy;

      &-photo {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 3px 5px rgb(40 51 91 / 20%);
      }

      &-name {
        font-size: 21px;
        line-height: 21px;
        margin-bottom: 8px;
      }

      &-post {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .slick-track {
    display: flex;
    gap: 24px;
  }


  // .slick-arrow {
  //   border-radius: 50%;
  //   width: 48px;
  //   height: 48px;
  //   display: block;
  //   background: $only-white;
  //   margin: -57px 0 0 0;

  //   position: absolute;
  //   top: 50%;
  //   z-index: 10;
  //   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05), 0px 4px 6px rgba(0, 0, 0, 0.02);
  // }

  .slick-prev {
    // background: url(../images/about-us-page/pagination-arrow-left.svg) 0 0 / 100% no-repeat;
    left: 0;
  }

  .slick-next {
    // background-image: url(../images/about-us-page/pagination-arrow-right.svg);
    right: 0;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 2px;
      width: 24px;
      padding: 0;
      font-size: 0;
      border: none;
      border-radius: 1px;
      background-color: $only-grey;
    }

    li {
      margin: 0 4px;
    }

    li.slick-active {
      button {
        background-color: $only-blue;
      }
    }
  }
}

.trust--about-us {
  background-color: $only-blue;
  margin-bottom: 110px;
}

.trust__item--about-us svg {
  fill: $only-white;
}

.revievs {
  margin-bottom: 110px;

  &__content {
    text-align: center;
  }

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
    color: var(--var-about-us-fc-1);
  }

  &__subtitle {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 60px;
    color: $only-grey;
  }

  &__slider-items {
    max-width: 1200px;
    padding: 0 16px;

    .slick-dots {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-dots li {
      list-style: none;
      margin: 0 4px;
    }

    .slick-dots li.slick-active button {
      background-color: $only-blue;
    }

    .slick-dots button {
      height: 2px;
      width: 24px;
      padding: 0;
      font-size: 0;
      border: none;
      border-radius: 1px;
      background-color: rgba($only-grey, .2);
    }
  }

  &__item {
    width: 368px;
    padding: 30px 24px 40px;
    background-color: $only-lightgrey;
    text-align: left;
  }

  &__person {
    display: flex;
    margin-bottom: 30px;

    &-avatar {
      width: 50px;
      height: 50px;
      margin-right: 16px;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-name {
      font-family: $garamond;
      font-size: 20px;
      line-height: 22px;
      // margin-bottom: 8px;
    }

    &-post {
      font-family: $gilroy;
      font-size: 16px;
      line-height: 16px;
      color: $only-grey;
    }
  }

  &__text {
    font-family: $inter;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__full {
    font-family: $gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  .slider__item {
    width: 368px;
    margin: 0 12px;
  }
}

/* /About us */
/* Media */
.media {
  color: var(--var-about-us-fc-1);

  &__title {
    font-family: $garamond;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 60px;
    text-align: center;
    color: $only-grey;
  }

  .blog__rec{
    display: flex;
  }
}

/* /Media */
/* Modal ===================*/
body.lock {
  overflow: hidden;
}

.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba($only-black, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;

  &__content {
    max-width: 1200px;
    width: 100%;
    max-height: 463px;
    padding: 32px 48px 40px;
    position: relative;
    background-color: var(--var-modal-bg);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    overflow: auto;
  }

  &__close {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;

    &:hover .close {
      transition: 0.1s linear;
      opacity: 1;
    }
  }

  .close {
    fill: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0.7;
  }

  &__inner {
    width: 100%;
    height: 100%;
    color: $only-white;
  }

  &__title {
    font-family: $garamond;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
    color: $only-white;
    margin-bottom: 28px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
  }

  &__form-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 34.78%;
  }

  &__contacts-item {
    height: 100%;
  }

  &__form-message {
    width: 63%;
  }

  &__form-item {
    padding: 16px;
    background-color: rgba($only-black, 0.6);
    width: 100%;
    resize: none;
    color: $only-white;
    font-family: $inter;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid rgba($only-black, 0.6);
    &:focus {
      border-color: $only-blue;
    }
  }

  &__form-item--textarea {
    height: 93%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__agreement {
    font-family: $gilroy;
    font-size: 16px;
    line-height: 16px;
    color: $only-white;
    padding-top: 17px;
  }

  &__form-name {
    font-family: $inter;
    font-size: 12px;
    line-height: 18px;
    color: $only-grey;
    padding-bottom: 2px;
  }
}

.modal.show {
  display: flex;
}

body.lock {
  overflow: hidden;
}







@import 'media';